<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
      <style>
    body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 100px;
    padding: 16px 0;
    font-size: 5pt !important;
  
  
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}



header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}
</style>
</head>
<body>
    <header>{{>header}}</header>
    <img class="portrait" src="/home/rafia/Desktop/demo/Web-server/public/images/robot.png">
      <footer>{{>footer}}</footer>
</body>
</html>