<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Web-server/public/css/style.css">
    <script src="/Web-server/public/js/app.js"></script>
    <style>
    body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 100px;
    padding: 16px 0;
    font-size: 5pt !important;
  
  
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}


input {
    margin-bottom: 100px !;
}
header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}
</style>
</head>

<body>
    <header>{{>header}}</header>
    <p>Use this site to get weather updates</p>
    <form>
          <input type="text">
          <button>Search</button>
<p id="message-1"></p>
<p id="message-2"></p>
      </form>
      <footer>{{>footer}}</footer>
      

</body>
<script>console.log("Client side Javascript")

const weatherForm=document.querySelector('form')
const search=document.querySelector('input')
const message1=document.querySelector('#message-1')
const message2=document.querySelector('#message-2')

weatherForm.addEventListener('submit',(e)=>{//we call the event object
e.preventDefault()
const location=search.value
message1.textContent='Loading...'
message2.textContent=''
fetch('http://localhost:3000/weather?address='+location).then((response)=>{
    response.json().then((data)=>{
        if(data.error){
            message1.textContent=data.error
            }
        else{
            message1.textContent=data.location
            message2.textContent=data.forecast
//console.log(data)
//console.log(data.location)
//console.log(data.forecast)
        }

    })

})

})
</script>
</html>